{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pool</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.11.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script type="text/javascript" src={{ STATIC_URL }}js/score-match.js></script>
</head>
<body>

<h1>
  {% if player_1 == next_up %}<em>{% endif %}
  {{ player_1.first_name }} {{ player_1.last_name }}
  {% if player_1 == next_up %}</em>{% endif %}
 VS
  {% if player_2 == next_up %}<em>{% endif %}
  {{ player_2.first_name }} {{ player_2.last_name }}
  {% if player_2 == next_up %}</em>{% endif %}
</h1>



<form>

<div id="format">

  {% for ball in balls %}
  <input type="checkbox" {% if ball.1 %}class="disabled"{% endif %} id="check{{ball}}"><label for="check{{ball}}">{{ball.0}}</label>
  {% endfor %}
</div>

<br/>

<div id="radio">
  <input type="radio" id="radio1" name="radio"><label for="radio1">Make</label>
  <input type="radio" id="radio2" name="radio"><label for="radio2">Miss</label>
  <input type="radio" id="radio3" name="radio"><label for="radio3">Foul</label>
  <input type="radio" id="radio4" name="radio"><label for="radio4">Safety</label>
</div>

<br/>

<input type="submit" id="submit" value="Submit">

</form>


</body>
</html>


